* {
    /* Свойства для сброса начальных стилей элементов */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

header {
    /* Стили для хедера */
    background-color: #2965f1;
    padding: 23px 23px;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    /* Стили для первой секции */
    background-color: #fafaff;
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 100vh;
}

.main-title {
    /* Стили для заголовка в первой секции */
    font-weight: 700;
    font-size: 48px;
    color: #303030;
    margin-bottom: 20px;
}

.main-text {
    /* Стили для текста в первой секции */
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
}

.main-image {
    /* Стили для изображения в первой секции */
    max-width: 715px;
    height: auto;
}


.about-section {
    /* Стили для второй секции */
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
}

select {

    /* Стиль обведення */
    border: 1px solid #3030304d;
    /* Напівпрозора обводка */

    /* Круглі кути */
    border-radius: 5px;

    /* Ширина та висота для випадаючого списку */
    width: 150px;
    height: 36px;

    /* Прозорий фон */
    background: #ffffff00;

    /* Шрифт */
    font-size: 16px;
    /* Розмір шрифта */
    font-weight: 400;
    /* Вага шрифта */
    color: #303030;
    /* Колір тексту */

    /* Внутрішні відступи: 8px зверху/знизу, 10px зліва для тексту, 40px справа для стрілки */
    padding: 8px 40px 8px 10px;
    /* Збільшено відступ справа для стрілки */

    /* Фон для стрілки: додаємо стрілку у вигляді SVG */
    background: url('arrow.svg') no-repeat right 10px center;
    /* Вказуємо правильний шлях до SVG */

    /* Розмір стрілки */
    background-size: 12px 7px;
    /* Масштабування стрілки 12px по ширині, 7px по висоті */

    /* Стандартизування вигляду випадаючого списку в різних браузерах */
    appearance: none;

}

.section-title {
    /* Стили для заголовков во второй секции */
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
}

.label {
    /* Стили для подписей чекбоксов */
}

.text-field {
    /* Стили для односточного поля ввода текста */
}

.button {
    /* Стили для кнопки */
}

.line {
    /* Стили для линии */
}

table {
    /* Стили для таблицы */
}

th,
td {
    /* Стили для ячеек таблицы */
}

footer {
    /* Стили для футера */
}

.footer-link {
    /* Стили для футера */
}